#banner {
		background-image: url("../../images/pandawinner-banner.png");
}

.spotlight.style1 .content {
			border-color: #de8787;
}

.spotlight.style3 .content {
			border-color: #ffeeaa;
		}

.spotlight.style2 .content {
			border-color: #5480f1;
		}